/* --------------------------обнуление---------------------------- */
@import url(null.css);

/* ----------------------подключение шрифтов---------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900display=swap');


body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;
}

/* ----------------------оболочка--------------------- */
.wrapper {
	min-height: 100%;
    position: relative;
}
/* ----------------------container--------------------- */

[class*="__container"] {
    max-width: 1020px;
    margin: 0 auto;
}


/* ----------------------header--------------------- */

.header__container{
    position: relative;
    max-width: 1020px;
    margin: 0 auto;
}
.header__box{
    padding: 26px 0 0;
    position: fixed;
    z-index: 150;
}
.header__top {
    margin:  0 0 27px 0;
}
.top__logo {
    display: inline-block;
    margin: 0 236px 0 0;
    vertical-align: middle;
}
.top__img{
    width: 174px;
}
.top__contacts {
    display: inline-block;
}
.top__info {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    align-items: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    padding: 0 0 0 34px;
    margin: 0 33px 0 0;
    vertical-align: middle;
}

.top__info:last-child{
    margin: 0 34px 0 0;
}
.top__info_time {
    font-weight: 700;
    background: url(../img/icons/header/access-time.svg) 0 0 / 24px no-repeat;
}
.top__info_phone {
    background: url(../img/icons/header/phone.svg) 0 0 / 24px no-repeat;
}
.top__button {
}
.button {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F2726F;
    border-radius: 8px;
    padding: 9px 34px;
}

/* ----------------------header-menu--------------------- */


.header__menu {
    position: relative;
}
.menu {
    padding: 10px 40px;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
}
.menu__list {
    display: inline-block;
    margin: 0 306px 0 0; 
}
.menu__item {    
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.menu__item:not(:first-child) {    
    margin: 0 0 0 37px;
}
.menu__item:last-child {    
    margin: 0 0 0 39px;
}
.menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.15px;
}
.menu__link_expand::after {
    content: "";
    position: absolute;
    z-index: 2;
    background: url(../img/icons/header/expand-more.svg) 2px 3px no-repeat;
    width: 16px;
    height: 16px;
}
.menu__shoping {
    display: inline-block;
    vertical-align: middle;
}
.menu__search {
    display: inline-block;
    margin: 0 22px 0 0;
}
.menu__cart {
    display: inline-block;
    position: relative;

}
.cart {
    display: inline-block;

}
.cart__img {
    display: inline-block;
    width: 20px;
}
.cart__ellipse {
    display: inline-block;
    position: absolute;
    width: 16px;
    top: -7px;
    left: 14px;
}
.cart__number {
    position: absolute;
    top: -9px;
    left: 19.5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 2.2;
    color: #FFFFFF;
    letter-spacing: 0.15px;

}


/* --------------------------premier-dog---------------- */


.premier-dog{
    position: relative;
    z-index: 2;
    background: url(../img/main/Premier-dog.png) center / cover no-repeat;
}
.premier-dog__box{
    padding: 280px 0 312px 0;
}
.premier-dog__title {
    font-weight: 900;
    font-size: 56px;
    color: #FFFFFF;
    margin: 0 0 48px 0;
    max-width: 583px;
} 


/* --------------------------------who-we-are----------------- */



.who-we-are {
    position: relative;
    z-index: 3;
}
.who-we-are__container {
    background: #5D62B5;
    border-radius: 40px;
}
.who-we-are__box {
    max-width: 846px;
    margin: -80px auto 230px;
    position: relative;
}
.who-we-are__box::before {
    content: "";
    background: url(../img/icons/who-we-are/Blob-2.svg) left top / 100% no-repeat;
    width: 514px;
    height: 370px;
    position: absolute;
    bottom: -27px;
    left: -36px;
}
.who-we-are__box::after {
    content: "";
    background: url(../img/icons/who-we-are/Stylize.svg) left top / 100% no-repeat;
    width: 201px;
    height: 317px;
    position: absolute;
    top: -109px;
    right: -164px;
}
.who-we-are__content {
    position: relative;
    padding: 100px 0 354px;
}
.who-we-are__subtitle {
    color: #F5F5F5;
    margin: 0 0 33px 0;
}
.subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    align-items: center;
    padding: 0 0 0 33px;
    position: relative;
}
.subtitle::before{
    content: "";
    background: url(../img/icons/who-we-are/mark.svg) 0 0 no-repeat;
    width: 17px;
    height: 20px;
    position: absolute;
    top:-1px;
    left: 0;
}
.who-we-are__title {
    color: #FFFFFF;
    max-width: 583px;
    margin: 0 0 36px 0;
}
.title {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.17;
}
.who-we-are__text {
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #F5F5F5;
}
.who-we-are__image {
    position: absolute;
    bottom: -120px;
    left: 0;
    border-radius: 40px;
    overflow: hidden;
    width: 846px;
    height: 420px;
}
.who-we-are__img {
    width: 100%;
}




/* --------------------------------------------*/


/* ------------------- nemo  -------------------------*/


.nemo{
    background: #29C3BE;
    position: relative;
    z-index: 5;
    overflow: hidden;
}
.nemo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/icons/nemo/Blob2.svg) -115px -108px no-repeat, url(../img/icons/nemo/Circles.svg) 0  top no-repeat;
    width: 500px;
    height: 440px;
}
.nemo::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background:  url(../img/icons/nemo/Line.svg) -90px 0 no-repeat; 
    width: 621px;
    height: 393px;
    z-index: 1;
}
.nemo__box{
    padding: 112px 0 169px 0;
    position: relative;
}

.nemo__content {
    position: relative;
    max-width: 411px;
    margin-left: auto;
    margin-right: 0;
    z-index: 2;
}
.nemo__title {
    color: #FFFFFF;
    margin: 0 0 51px ;
}
.nemo__dog-image{
    position: absolute;
    bottom: -34px;
    left: -210px;
    z-index: 1;
}
.nemo__ball-image{
    position: absolute;
    bottom: 276px;
    right: -150px;
    z-index: 4;
}


/* ------------------- gallery  -------------------------*/

.gallery {

}
.gallery__container {
    background: #5D62B5;
    border-radius: 40px;
    margin: -80px auto 240px;
    position: relative;
    z-index: 5;

}
.gallery__box {
    max-width: 846px;
    margin: 0 auto;
    padding: 100px 0 410px;
    position: relative;
}
.gallery__content {
    color: #fff;
}
.gallery__subtitle {
    margin: 0 0 33px 0;
}
.gallery__title {
}
.gallery__image {
    width: 846px;
    height: 480px;
    overflow: hidden;
    position: absolute;
    bottom: -120px;
    left: 0;
    border-radius: 40px;

}
.gallery__img {
    width: 100%;
}





/* -----------полигон-------------------- */

.appellative__title{
    text-align: center;
    text-decoration: underline;
    margin: 0 0 50px 0;
    font-size: 52px;
    padding: 40px 0;
    background: #c5f5c3;
    position: sticky;
    top: 0;
    z-index: 100;
}

.block-main__box{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    background: rgb(200, 200, 200);

}
.block-main__box:not(:last-child){
    margin: 0 0 70px 0;
}
.block{
    padding: 40px;
}


/* -----------background  block-------------------- */

.block__name{
    padding: 40px 0;
    background: #FFF;
}
.block_blue {
    max-width: 100%;
    background-color: rgb(155, 232, 255);
}
.block_pink {
    background-color: rgb(254, 215, 255);
}
.block_yellow {
    background-color: rgb(255, 254, 170);
}


/* -----------block relative-------------------- */


.block__relative{
    position: relative;
    top: 30px;
    left: 45px;
}

/* -----------block relative + z-index-------------------- */


.block__z-index{
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
}


/* -----------block relative + absolute-------------------- */


.block_viol {
    position: absolute;
    background-color: rgb(135, 127, 251);
    padding: 20px;
    bottom: 2000px;
    left:0; 
}
.block__relative_yellow{
    position: relative;
    top: 150px;
    right: 80px;
    z-index: 4;
}

.block__relative_pink{
    position: relative;
    bottom: 10px;
    right: -30px;
    z-index: 5;
}




/* -----------block relative + stiky--------------------- */


.block__stiky_yellow{
    position: sticky;
    top: 0;
    z-index: 100;
}
.block__stiky_pink{
    position: sticky;
    top: 0;
    z-index: 100;
}


/* -----------block fixed + absolute + stiky--------------------- */


.block__box_relative {
    position: relative;
}
.block__stiky_blue{
    padding: 50px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}
.block__fixed_yellow{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}
.block-main__relative{
    position: relative;
}
.block__absolute_pink{
    position: absolute;
    top: 30px;
    left: -50px;
    z-index: 101;
}